<h1>閲覧</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>物件名</strong>
  <%= @property.name %>
</p>

<p>
  <strong>賃料</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>住所</strong>
  <%= @property.address %>
</p>

<p>
  <strong>築年数</strong>
  <%= @property.age %>
</p>

<p>
  <strong>備考</strong>
  <%= @property.remark %>
</p>

<% n=0 %>
<% @property.stations.each do |station| %>

  <p>
    <strong>最寄駅:<%= n+=1 %></strong>
    <%= station.line %>
  </p>

  <p>
    <strong>駅名</strong>
    <%= station.name %>
  </p>
  <p>
    <strong>徒歩分数</strong>
    <%= station.time %>
  </p>
<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
